* {
    padding: 0;
    margin: 0;
    border: 0;  
  }
  
 body {
     background-color: beige;
     max-width: 1438px;    
 } 

header{
    font-family: 'Chakra Petch', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    background-image: linear-gradient(270deg, #F7C9F3,#4180F6);
    height: 23px;
    margin-bottom: 35px;
    box-shadow: 0 1px 0 0 #110038;
    display: flex;
    align-items: center;
    padding-left: 7px;
}

section{
    margin-left: 6%;
    margin-right: 10%;
    nav{
        .contenedormenu {
            display: flex;
            justify-content: space-between;
            
            .botones {     
                display: flex;
                justify-content: space-between;
                align-items: center;
                .boton1 {
                    width: 144px;
                    height: 36px;
                    background-color: #F7C9F3;
                    font-family: 'Chakra Petch', sans-serif;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    border: 1px solid #110038;
                    margin-right: 16px;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    cursor: pointer;
                }
                .boton1:hover {
                    background-color: #E6BBE2;
                    border: 1px solid #110038;
                    outline: 1px dotted #110038;
                    outline-offset: -4px;    
                }
                .boton1:active {
                    background-color: #E6BBE2;
                    border: 1px dotted #110038;
                    outline: 1px dotted #110038;
                    outline-offset: -4px;
                }    
                .juntos {
                    display: flex;
                    justify-content: space-between;        
                    .boton2 {
                        width: 131px;
                        height: 36px;
                        background-color: #F7C9F3;
                        font-family: 'Chakra Petch', sans-serif;
                        font-size: 16px;
                        color: #110038;
                        letter-spacing: 0;
                        text-align: center;
                        line-height: 18px;
                        border: 1px solid #110038;
                        margin: 0;
                        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                        cursor: pointer;
                    }
                    .boton2:hover {
                        background-color: #E6BBE2;
                        border: 1px solid #110038;
                        outline: 1px dotted #110038;
                        outline-offset: -4px;    
                    }
                    .boton2:active {
                        background-color: #E6BBE2;
                        border: 1px dotted #110038;
                        outline: 1px dotted #110038;
                        outline-offset: -4px;
                    }    
                    .temas {
                        width: 166px;
                        height: 100px;
                        background-color: #E6E6E6;
                        box-shadow: inset 0 0 0 #B4B4B4, inset 2px 0 0 0 #FFFFFF;
                        position: absolute;
                        margin-top: 36px;       
                        .temadia {
                            width: 140px;
                            height: 30px;
                            background-color: #FFF4FD;
                            border: 1px solid #CCA6C9;
                            margin-bottom: 10px;
                            margin-left: 10px;
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
                            button {
                            font-family: 'Chakra Petch', sans-serif;
                            font-size: 14px;
                            color: #110038;
                            background-color: transparent;
                            margin-left: 10px;
                            cursor: pointer;   
                            }
                        }
                        .temanoche {
                            width: 140px;
                            height: 30px;
                            background-color: #F0F0F0;
                            border: 1px solid #CCA6C9;
                            margin-left: 10px;
                            margin-top: 5px;
                            display: flex;
                            align-items: center;
                            button{
                            font-family: 'Chakra Petch', sans-serif;
                            font-size: 14px;
                            color: #110038;
                            margin-left: 10px;
                            cursor: pointer;
                            }
                        }
                    }
                }
            }
                .desplegable {
                    width: 36px;
                    height: 36px;
                    background-color: #F7C9F3;
                    border: 1px solid #110038;
                    margin-right: 16.5px;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    cursor: pointer;    
                }
                .desplegable:hover {
                    background-color: #E6BBE2;
                    border: 1px solid #110038;
                    outline: 1px dotted #110038;
                    outline-offset: -4px;    
                }
                .desplegable:active {
                    background-color: #E6BBE2;
                    border: 1px dotted #110038;
                    outline: 1px dotted #110038;
                    outline-offset: -4px;
                }    
                .misgifs{
                    display: flex;
                    align-items: center;
                    font-family: 'Chakra Petch', sans-serif;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    line-height: 18px;
                    background-color: transparent;
                    cursor: pointer;
                }
                .misgifs:hover {
                    border: 1px dotted #110038;    
                }
                .misgifs:active {
                    color: #B4B4B4;
                    border: none;
                }    
        }
    }
}


section {
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 2.1%;
    margin-bottom: 4%;
    .buscador {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 14px;
        color: #FFFFFF; 
        letter-spacing: 0;
        width: 100%;
        height: 24px;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        display: flex;
        align-items: center;
        box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        p {
            padding-left: 6px;
        }    
    }
    .buscadorylupa {
            background-color: #E6E6E6;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 0 0 0 0 #FFFFFF;
                
            input{
                width: 980px;
                height: 48px;
                margin-top: 0.7%;
                margin-right: 0.6%;
                margin-bottom: 0.7%;
                border: 1px solid #979797;
                box-shadow: inset 2px 2px 0 0 #000000;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #110038;
                padding-left: 10px;    
            }
            ::placeholder {
                padding-left: 5px;
            }
            .lupa {
                width: 100px;
                height: 36px;
                color: #E6E6E6;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #B4B4B4;
                outline: none;
                background-color: #E6E6E6;
                margin-top: 1px;
                cursor: pointer;
                img {
                    margin-right: -10px;
                }
                #search{
                    color:#B4B4B4;
                }
            }  
            .lupainput {
                width: 100px;
                height: 36px;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #110038;
                outline: none;
                background-color: #F7C9F3;
                margin-top: 1px;
                cursor: pointer;
                img {
                    margin-right: -10px;
                }
                #search {
                    color: #110138;
                }
            } 
            .lupaactive {
                width: 100px;
                height: 36px;
                color: #E6E6E6;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 16px;
                color: #B4B4B4;
                outline: 1px dotted #110038;
                outline-offset: -4px;
                background-color: #F7C9F3;
                margin-top: 1px;
                cursor: pointer;
                img {
                    margin-right: -10px;
                }
            }           
        }
    .busqueda {
        width: 100%;
        height: 135px;
        background-color: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        padding-top: 15px;
        display: none;
        .buscuadro {
            width: 980px;
            height: 30px;
            margin-bottom: 10px;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            margin-left: 18px;
            display: flex;
            align-items: center;
            font-family: 'Chakra Petch', sans-serif;
            font-size: 14px;
            color: #110038;
            padding-left: 10px;
            cursor: pointer;    
        }
    }    
}

#busquedadin {
    overflow: hidden;
    margin-top: 15px;
    .resultados {
        background: #4180F6;
        border: 1.2px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        font-family: 'Chakra Petch';
        height: 34px;
        padding: 6px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 34px;
        margin-top: 15px;
        margin-right: 8px;
        overflow: hidden;
    }
}

#busq1:hover {
    margin-bottom: 15px;
    outline: 1px dotted #110038;
    outline-offset: -4px;    
}

#busq2:hover {
    margin-bottom: 15px;
    outline: 1px dotted #110038;
    outline-offset: -4px;    
}

#busq3:hover {
    margin-bottom: 15px;
    outline: 1px dotted #110038;
    outline-offset: -4px;    
}

.sugerencias {
    margin-left: 6%;
    margin-right: 10%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    height: 1.9%;
    display: flex;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #110038;
    padding: 7px;
    margin-bottom: 19px;   
}

.cuadros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .cuadroscont {
        display: inline-block;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

        .titulosug {
            font-family: 'Chakra Petch', sans-serif;
            color: #FFFFFF;
            font-size: 14px;
            background-image: linear-gradient(270deg, #F7C9F3,#4180F6);
            width: 250px;
            height: 22px;
            box-shadow: 0 1px 0 0 #110038;
            display: flex;
            justify-content: space-between;
            img {
               padding-right: 4px;
            }
        }
        .cuadrosug {
            width: 250px;
            height: 250px;
            background-color: transparent;
            display: flex;
            align-items: flex-end;    
            .botonver {    
                width: 81px;
                height: 34px;
                font-family: 'ChakraPetch', sans-serif;
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 0;
                background: #4180F6;
                border: 1px solid #4C2F99;
                box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
                margin-left: 10px;
                margin-top: -10px;
                margin-bottom: 10px;
                z-index: 10;
                position: absolute; 
                cursor: pointer;   
            }
        }
    }
}
.cuadrosug:hover {
    border: 1px dotted #110038;
}
.trending {
    .tendencias{ 
        background: #FFFAFE;
        border: 1px solid #E6BBE2;
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
        height: 1.9%;
        display: flex;
        align-items: center;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 14px;
        color: #110038;
        padding: 7px;
        margin-bottom: 19px;
        width: 1120px;    
    }
}
.gifs{
    display : inline-block;
    width : 250px;
    height:  254px;
    padding: 0px;    
}

#contenido{
    display : flex;
}

.cuadrosGifs{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    .cuadros{
        .cuadroscont{
            .cuadrosug{
                div {
                    position: absolute;
                    width: 18.5%;
                    background-image: linear-gradient(270deg, #F7C9F3,#4180F6);
                    font-family:'Chakra Petch';
                    font-size: 13px;
                    color: white;
                    z-index: 9999;
                }
                div:hover { 
                    position: absolute;
                    width: 18.5%;
                    background-image: linear-gradient(270deg, #F7C9F3,#4180F6);
                    font-family:'Chakra Petch';
                    font-size: 13px;
                    color: white;
                    z-index: 9999;
                    display: block;
                }
            }
        }
    }
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

